<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hotel.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @hotel.price %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @hotel.agent_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @hotel.email %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @hotel.img_url %>
</p>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
