<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @expense.item %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @expense.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @expense.updated_at %>
</p>

<p>
  <strong>Execution date:</strong>
  <%= @expense.execution_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @expense.user_id %>
</p>

<p>
  <strong>Done:</strong>
  <%= @expense.done %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
